*{
    list-style: none;
    text-decoration: none;
}

.landing{
    background-image: url(./img/pexels-tatiana-fet-420381-1105766.jpg);
    background-position: center;
    background-repeat: no-repeat ;
    background-size: cover;
}